<style>
	.picturetext {
		
    	position: absolute;
    	top:40%;
    	left:0;
    	text-align: center;
    	    display: flex;
    justify-content: center;
	}

	.belowpicturetext {
		margin-top: 0;
    	width: 100%;
    	vertical-align: text-center;
    	color: white;
	}


	

</style>


    
    

<!--picture-->
<div class="row" style="font-size:0; text-align: center;margin-bottom: 0;position: relative;">
      
    <img id="image" src="img/feast2.jpg" class="responsive-img">

	<p id="text_above_picture" class="picturetext flow-text" style="margin-top: 0;width: 100% ">
		<span style="width:50%;display:block;background: rgba(255, 255, 255, 0.8); padding: 5px">Enter Ingredients<br> We'll find the recipes</span>
	</p>
    <!--slogan-->
</div>
<div class="row">
	<div  style="height:10vh;background: rgb(128, 0, 0); display:flex; align-items: center; justify-content: center; text-align: center;color:white">
	    <p class="flow-text">Find meals hiding at home</p>
	</div>
</div>





<!-- input ingredients-->
<div style="height:10vh; align-items: center; text-align: center">
<input placeholder="Enter ingredients" id="ingredients_input" type="text" class="validate"
style="margin 0; vertical-align: center; width:60%; height:50%; background: rgb(250, 250, 250);">
</div>


<!-- register button and other text-->
<div style="height:13vh; margin 0; align-items: center;  text-align: center;">
    <p class="flow-text activitytext" id="instructions" >Save favorites, submit your own and more!</p>
	{{> register}}
    <p class="flow-text" id="member_text">Already a member? <a href="http://www.google.com">Click here to log in</a></p>
</div>
