<style>
	.middle > * {
	vertical-align: middle;
}


<body style="margin: 0px; padding: 0px;">
    <div class="row">
    <center>

      <!--picture-->
      <div class="middle" style="height:60vh;background-image:url(pictures/feast.jpg); " >
      
       		
	       <h3 style="background: rgba(255, 255, 255, 0.8); margin-top: 0; ">Enter Ingredients, We'll find the recipes</h3>
         
	   </div>




     <!--slogan-->
     <div class="middle" style="height:10vh;background: rgb(128, 0, 0);">
          <h4 style="margin-top: 0; color:white;">Find meals hiding at home</h4>
     </div>





     <!-- input ingredients-->
     <div style="height:10vh;">
	     <input placeholder="Enter ingredients" id="ingredients_input" type="text" class="validate"
        style="margin 0; vertical-align: top; width:60%; background: rgb(250, 250, 250);>
    </div>


	  <!-- register button-->
    <div style="height:13vh; margin 0;">
    <p id="instructions">Save favorites, submit your own and more!</p>
	  <a class="waves-effect waves-light green btn">Register</a>
    <br>
    Already a member?
    <a href="http://www.google.com">Click here to log in</a>
    </div>



	  </center>
	  </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>