<style>
    .picturetext {

        position: absolute;
        top:40%;
        left:0;
        text-align: center;
        display: flex;
        justify-content: center;
    }
</style>
{{>recipe}}
{{> ingredientView}}
<div class="row" style="font-size:0; text-align: center;margin-bottom: 0;position: relative;">
    <img class="responsive-img" src="/img/pantry.jpg">
    <p id="text_above_picture" class="picturetext flow-text" style="margin-top: 0;width: 100% ">
        <span style="width:50%;display:block;background: rgba(255, 255, 255, 0.8); padding: 5px;font-size:1.524rem">Your Pantry</span>
    </p>
</div>



    <h3 style="background: #8e665f;
    text-align: center;
    margin: 0;
    padding: 15px;
    color: white;
    font-weight: 100;
    font-size: 30px;">My Recipes</h3>

    <div style="margin-top:-30px;height:263px" class="carousel">
    {{#each submitted}}
        <a class="carousel-item" data-recipe-name="{{Recipe}}" href="#"><img src="{{recipe_photo}}"></a>
    {{/each}}
    </div>



<div class="row" style="text-align: center">

    <a class="btn grey lighten-4" style="color: #222" href="/submit">Submit your own recipe</a>
</div>

<h3 style="background: #54946a;
    text-align: center;
    margin: 0;
    padding: 15px;
    color: white;
    font-weight: 100;
    font-size: 30px;">My Favorites</h3>

<div style="margin-top:-30px;height: 263px;" class="carousel">
    {{#each favorites}}
        <a class="carousel-item" data-recipe-name="{{Recipe}}" href="#"><img src="{{recipe_photo}}"></a>
    {{/each}}
</div>

<h3 style="background: #945454;
    text-align: center;
    margin: 0;
    padding: 15px;
    color: white;
    font-weight: 100;
    font-size: 30px;">My Ingredients</h3>
<div class="container">
    <div class="row">
        <div class="chips"></div>
    </div>
</div>

{{> recipescroller}}
<script>
    $(document).ready(function(){
        $('.carousel').carousel();
        $('.modal').modal();
    });


    $('.carousel-item').on('click',function(){
       console.log($(this).attr('data-recipe-name'));
       recipeInit($(this).attr('data-recipe-name'));
    });

    $.ajax({
        method: "GET",
        url: "/allIngredients",
        data: {}
    }).done(function( msg ) {
        console.log(msg);
        $.ajax({
            method: "GET",
            url: "/userIngredients",
            data: {}
        }).done(function( ingrs ) {
            console.log(ingrs);
            var data=[];
            if(ingrs.ingredients.length>0){
                ingrs.ingredients.forEach(function(item){
                   data.push({
                       tag:item
                   });
                });
            }
            console.log(data);
            $('.chips').material_chip({
                placeholder:"Enter Ingredients",
                data:data,
                autocompleteOptions: {
                    data: msg.hits[0]._source,
                    limit: Infinity,
                    minLength: 1
                }
            });
            initScroller("search",$('.chips').material_chip('data'));

            $('.chips').on('chip.add', function(e, chip){
                // you have the added chip here
                var ing = $('.chips').material_chip('data');
                initScroller("search",$('.chips').material_chip('data'));
                console.log(ing);
                $.ajax({
                    method: "POST",
                    data: JSON.stringify(ing),
                    contentType: 'application/json',
                    url: "/ingredient",
                }).done(function( msg ) {

                });

            });
            $('.chips').on('chip.delete', function(e, chip){
                var ing = $('.chips').material_chip('data');
                initScroller("search",$('.chips').material_chip('data'));
                console.log(ing);
                $.ajax({
                    method: "POST",
                    data: JSON.stringify(ing),
                    contentType: 'application/json',
                    url: "/ingredient",
                }).done(function( msg ) {

                });
            });
        });
    });
</script>