<style>
    .picturetext {

        position: absolute;
        top:40%;
        left:0;
        text-align: center;
        display: flex;
        justify-content: center;
    }
</style>
{{>recipe}}
<div class="row" style="font-size:0; text-align: center;margin-bottom: 0;position: relative;">
    <img class="responsive-img" src="/img/pantry.jpg">
    <p id="text_above_picture" class="picturetext flow-text" style="margin-top: 0;width: 100% ">
        <span style="width:50%;display:block;background: rgba(255, 255, 255, 0.8); padding: 5px;font-size:1.524rem">Your Pantry</span>
    </p>
</div>



    <h3 style="background: #8e665f;
    text-align: center;
    margin: 0;
    padding: 15px;
    color: white;
    font-weight: 100;
    font-size: 30px;">My Recipes</h3>

    <div style="margin-top:-90px" class="carousel">
    {{#each submitted}}
        <a class="carousel-item" data-recipe-name="{{Recipe}}" href="#"><img src="{{recipe_photo}}"></a>
    {{/each}}
    </div>


<div class="row">

    <a href="/submit">Submit your own recipe</a>
</div>
<script>
    $(document).ready(function(){
        $('.carousel').carousel();
        $('.modal').modal();
    });


    $('.carousel-item').on('click',function(){
       console.log($(this).attr('data-recipe-name'));

       recipeInit($(this).attr('data-recipe-name'));


    });
</script>