<style>
    #ingredientView{
        width:70% !important;
        height:60% !important;
        max-height:70% !important;
    }
</style>

<!-- Modal Structure -->
<div id="ingredientView" class="modal modal-fixed-footer">
    <div class="modal-content">

        <div class="col"><h5 id="ingredient_name">Ingredient Name</h5></div>

        <img id="ingredient_image" class="responsive-img" style="height: 50%" src="img/noImage.jpg">

        <p id="ingredient_description">This is a discription of the ingredient. This is a discription of the ingredient. This is a discription of the ingredient.</p>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Find recipes</a>   <!-- #! ?-->
    </div>
</div>


<script>

    $(document).ready(function(){
        $('#ingredientView').modal({
                    dismissible: true, // Modal can be dismissed by clicking outside of the modal
                    opacity: .5, // Opacity of modal background
                    inDuration: 300, // Transition in duration
                    outDuration: 200, // Transition out duration
                    ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                    }
                }
        );
    });






    function ingrDataInit(i) {
        console.log("ccccccccccccccccccccccccccc in dataInit");
        $('#ingredient_name').html(i.Ingredient);
        $('#ingredient_image').attr("src", i.ingredient_photo);//////image not being updated. Is this line the problem?
        $('#ingredient_description').html(i.description);
        console.log(i.description);
    }

    function ingredientInit(name){
        console.log("in ingredintInit");
        console.log(name);//logs name like   Olive Oil

        $('#ingredientView').modal('open');
        $.ajax({
            method: "GET",
            url: "/ingredient",
            data: { name: name }
        }).done(function( msg ) {
            console.log(msg);
            console.log("ddddddddddddddddddddbefore dataInit");
            ingrDataInit(msg);
        });
    }





</script>




<!--
<div class="row section">

        <div class="col"><h5 id="ingredient_name">Ingredient Name</h5></div>
        <div class="col"><div id="close_ingredient"><i  class="material-icons">close</i></div></div>

        </div>
-->