<!--<style type="text/css">
    .modal { width: 75%; height: 100%;}
</style>
-->

<!-- Modal Structure -->
<div id="ingredientView" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Ingredient Name</h4>

        <img id="image" src="img/feast.jpg" class="responsive-img">
        <p>This is a discription of the ingredient. This is a discription of the ingredient. This is a discription of the ingredient. This is a discription of the ingredient. This is a discription of the ingredient.</p>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>

<script>
    $(".modal").modal();
</script>