<!-- Modal Structure -->
<div id="login" class="modal">
    <div class="modal-content">
        <h4>Login</h4>

        <form action="/login" method="post">
            <div>
                <label>Email:</label>
                <input id="email" type="text" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id="password" name="password"/>
            </div>
            <div>
                <button type="submit" id="submit" class="disabled btn-block btn btn-lg btn-primary">Log In</button>
            </div>
        </form>


    </div>
    <!--<div class="modal-footer">-->
        <!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>-->
    <!--</div>-->
</div>

<script>
    $(".modal").modal();
    $(function(){
        var emailIsValid=false;
        var passIsValid=false;

        $('#submit').addClass('disabled');
        //Validate email on keyup and set emailIsValid accordingly
        $("input[id$='email']").change(function(){
            var current=$(this).val();
            emailIsValid=validateEmail(current);
            checkSubmit();
        });

        //Validate Password on Keyup and set passIsValid accordingly
        $("input[id$='password']").change(function(){
            var current=$(this).val();
            passIsValid=validatePassword(current);
            checkSubmit();
        });

        //Check email against regex
        function validateEmail(current){
            var emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
            if(emailRegex.test(current)){
                return true;
            }
            return false;
        };

        //Check Password
        function validatePassword(current){
            var passwordRegex = /[0-9a-zA-Z]{1,}/;
            if(passwordRegex.test(current)){
                return true;
            }
            return false;
        }

        function checkSubmit(){
            if(emailIsValid && passIsValid){
                 $('#submit').removeClass('disabled');
            } else {
                 $('#submit').addClass('disabled');
            }
        };

    });
</script>