<!-- Recipe View -->
<!-- Modal Structure -->
<style>
    #recipe{
        width:100% !important;
        height:100% !important;
        max-height:100% !important;
        top:0 !important;
    }
    #recipe_name{
        position: absolute;
        bottom: 6px;
        color: white;
        background: rgba(0, 0, 0, 0.59);
        margin: 0;
        width: 100%;
        padding: 20px;
        font-size: 19px;
    }
    #close_recipe{
        position: absolute;
        top: 8px;
        color: white;
        left: 8px;
        background: rgba(0, 0, 0, 0.36);
        width: 24px;
        height: 24px;
    }
    .ingr-text{
        font-size: 19px;
        font-weight: 300;
        padding: 5px;
        border-bottom: 1px solid black;
    }
    #favorite_recipe{
        position: absolute;
        right: 8px;
        color: #ffff00;
        top: 8px;
        background: rgba(0, 0, 0, 0.36);
        width: 25px;
        height: 25px;
    }

</style>


<div id="recipe" class="modal">
    <div  style="padding:0" class="modal-content">
        <div style="position:relative" class="row">
        <div id="close_recipe"><i  class="material-icons">close</i></div>
        {{#if user}}
            <div id="favorite_recipe"><i  class="material-icons">star_border</i></div>
        {{/if}}
        <h6 id="recipe_name">Test</h6>
        <img id="recipe_image" class="responsive-img" src="https://dw75asfpu22ml.cloudfront.net/recipe/8e5f9fa8-4cc9-42a5-82a5-dd126ded9019.jpg">
        </div>
        <div class="container">
        <h3 style="font-weight: 200;font-size: 31px;">
            Ingredients
        </h3>
        <div class="row">
            <ul id="ingredients_list">
                <li><strong>16 oz</strong> Salt</li>
            </ul>
        </div>
        <div id="steps_container">

        </div>
        </div>
    </div>
    <!--<div class="modal-footer">-->
        <!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>-->
    <!--</div>-->
</div>
<!--<a class="waves-effect waves-light btn modal-trigger" href="#recipe">Modal</a>-->

  <!--<div class="recipe-card">-->

  <!--<aside>-->

    <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/oatmeal.jpg" alt="Oatmeal" />-->

    <!--<a href="#" class="button"><span class="icon icon-play"></span></a>-->

  <!--</aside>-->

  <!--<article>-->


<!--<div class="description">-->
      <!--<div>-->
        <!--<h5 class="sub">Recipe Name</h5>-->
        <!--<h4>Oatmeal Mix</h4>-->
      <!--</div>-->
      <!--<div>-->
        <!--<h5 class="sub">Time</h5>-->
        <!--<h4>1h 30m</h4>-->
      <!--</div>-->
      <!--<div>-->
        <!--<h5 class="sub">Rating</h5>-->
        <!--<h4>-->
          <!--<i class="fa fa-star"></i>-->
          <!--<i class="fa fa-star"></i>-->
          <!--<i class="fa fa-star"></i>-->
          <!--<i class="fa fa-star-o"></i>-->
          <!--<i class="fa fa-star-o"></i>-->
        <!--</h4>-->
      <!--</div>-->
    <!--</div>-->


    <!--<p class="ingredients"><span>Ingredients:&nbsp;</span>Milk, salt, coriander, cardamom, cinnamon, turmeric, honey, vanilla extract, regular oats, oat bran.</p>-->

  <!--</article>-->

<!--</div>-->


<script>
    $(document).ready(function(){
        $('#recipe').modal({
                    dismissible: true, // Modal can be dismissed by clicking outside of the modal
//                    opacity: .5, // Opacity of modal background
                    inDuration: 100, // Transition in duration
                    outDuration: 200, // Transition out duration
//                    startingTop: '2%', // Starting top style attribute
//                    endingTop: '10%', // Ending top style attribute
                    ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
//                        alert("Ready");
//                        console.log(modal, trigger);
                    }
//                    complete: function() { alert('Closed'); } // Callback for Modal close
                }
        );
    });
    function dataInit(r) {
        $('#recipe').modal('open');
        $('#recipe_name').html(r.Recipe);
        $('#recipe_image').attr("src", r.recipe_photo);
        $('#favorite_recipe').attr("data-recipe-name", r.Recipe);
        if(r.isFavorite) {
            $('#favorite_recipe i').html("star");
        }else{
            $('#favorite_recipe i').html("star_border");
        }
        $('#ingredients_list').empty();

        if(IsJsonString(r.ingredients)){
            r.ingredients = JSON.parse(r.ingredients);
        }
        r.ingredients.forEach(function (element) {
            $('#ingredients_list').append(
                    $('<li class="ingr-text"><strong>' + element.amount + '</strong> '
                            + '<display nameTag="' + element.name + '">' + element.name + '</li>')
            );
        });
        $('.ingr-text display').on('click',function(){
          console.log($(this).attr('nameTag'));
            ingredientInit($(this).attr('nameTag'));
          //console.log(inputVar=="Eggs");
          //console.log(inputVar==="Eggs");
        });


        stepCount=1;
        $('#steps_container').empty();
        if(IsJsonString(r.steps)){
            r.steps=JSON.parse(r.steps);
        }
        r.steps.forEach(function (element) {
            $('#steps_container').append(
              $('<div class="row">'+
                      '<h4>Step '+stepCount+'</h4>'+
                      '<p>'+element.text+'</p>'+
                      '<img class="responsive-img" src="'+element.imageurl+'">'+
                      '</div>')
            );
            stepCount++;
        });

    }

    function recipeInit(name){

        $.ajax({
            method: "GET",
            url: "/recipe",
            data: { name: name }
        }).done(function( msg ) {
            console.log(msg);
            dataInit(msg);
        });
    }
    $('#close_recipe').on('click',function(){
        $('#recipe').modal('close');
    });


    $('#favorite_recipe').on('click',function(){
        var name = $(this).attr('data-recipe-name');
        console.log(name);
        var icon =$($(this).children()[0]);
        var action;
        if(icon.html()=='star_border'){
            console.log("not favorite");
            action="add";
            icon.html("star");
            Materialize.toast('Added to favorites!', 4000);
        }else{
            action="remove";
            icon.html("star_border");
            Materialize.toast('Removed from favorites', 4000);
        }
        $.ajax({
            method: "POST",
            url: "/favorite",
            data: {
                action:action,
                name:name
            }
        }).done(function( msg ) {
            console.log(msg);
        });
    });

    function IsJsonString(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            return false;
        }
        return true;
    }
</script>