  <!-- Recipe View -->

  <div class="recipe-card">

  <aside>

    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/oatmeal.jpg" alt="Oatmeal" />

    <a href="#" class="button"><span class="icon icon-play"></span></a>

  </aside>

  <article>


<div class="description">
      <div>
        <h5 class="sub">Recipe Name</h5>
        <h4>Oatmeal Mix</h4>
      </div>
      <div>
        <h5 class="sub">Time</h5>
        <h4>1h 30m</h4>
      </div>
      <div>
        <h5 class="sub">Rating</h5>
        <h4>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </h4>
      </div>
    </div>


    <p class="ingredients"><span>Ingredients:&nbsp;</span>Milk, salt, coriander, cardamom, cinnamon, turmeric, honey, vanilla extract, regular oats, oat bran.</p>

  </article>

</div>

