  <!-- Modal Trigger -->
<style>
/* Full-width input fields */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   /* background-color: rgb(0,0,0); /* Fallback color */
   /* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.icon {
  display: inline-block;
  line-height: 30px;
  padding-left: 30px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg") no-repeat scroll 0 0 transparent;
}


</style>
  <a class="waves-effect waves-light btn modal-trigger" href="#register">Register</a>

  <!-- Modal Structure -->
  <div id="register" class="modal">
  <div class="modal-content">
    <h5 class= "indigo-text center-align" >Register </h5>


<div class="row">
 
  <form action="/users" method="post" class="col s12">
    <div class="row">
    
    <div class="input-field col s12">
      
      <input required placeholder=" " id="email" name="username" type="email" class="validate" >
      
      <label <for="email"> <i class="material-icons"> email </i> Email  <data-error="Invalid Email" data-success="Valid Email"> </label>
    </div>
    </div>
   <div class="row">
    <div class="input-field col s12">

      <input id="password" name="password" type="password" class="validate">
      <label <for="password"> <i class="material-icons"> visibility </i> Password </label>
    </div>
   </div>

    <div class="row">
    <div class="input-field col s12">
      <input id="confirmpassword" type="password" class="validate" onkeyup="checkPass(); return false;" >
      <span id="confirmMessage" class="confirmMessage"></span>
      <label <for="confirmpassword"> <i class="material-icons"> visibility </i> Confirm Password <data-error="Passwords do not match" data-success="Passwords Match"></label>
    </div>
    </div>

           <!--<p class="left-align">You agree to the <strong>Terms & Conditions</strong>.</p>-->
           <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">assignment</i><strong>Terms & Conditions</strong>.</div>
              <div class="collapsible-body"><span>
                <p>1) This service is only for personal use. Commercial use of this service is prohibited</p>
                <p>2) The posting of unhelpful troll recipes or recipes that are only advertisements for third party products is prohibited</p>
                <p>3) Froogle LLC is not responsible for any harm caused by making or eating dishes suggested by this site.</p>
              </span></div>
            </li>
          </ul>


          <button type="submit" style="margin-left:auto;margin-right:auto;display:block;"
          class="btn-block btn btn-lg btn-primary ">Sign Up</button>
  </form>
    </div>
    </div>
  </div>


     
  <script type="text/javascript">
  $(".modal").modal();
 
function checkPass()
{
    //Store the password field objects into variables ...

    //var pass1 = document.getElementById('password');
    //var pass2 = document.getElementById('confirmpassword');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(password.value == confirmpassword.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        //confirmpassword.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
       //confirmpassword.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
}  




  </script>

