<div class="container">
<div class="chips"></div>
</div>

<script>
    $(document).ready(function(){
        $.ajax({
            method: "GET",
            url: "/allIngredients",
            data: {}
        }).done(function( msg ) {
            console.log(msg);
            $('.chips').material_chip({
                placeholder:"Enter Ingredients",
                autocompleteOptions: {
                    data: msg.hits[0]._source,
                    limit: Infinity,
                    minLength: 1
                }
            });
        });
    });
    $('.chips').on('chip.add', function(e, chip){
        // you have the added chip here
        $('#registerSection').hide();
        console.log($('.chips').material_chip('data'));
        initScroller("search",$('.chips').material_chip('data'));
    });
    $('.chips').on('chip.delete', function(e, chip){
        // you have the added chip here
        if($('.chips').material_chip('data').length>0) {
            console.log($('.chips').material_chip('data'));
            initScroller("search", $('.chips').material_chip('data'));
        }else{
            initScroller("trending","50");
        }
    });
</script>